{% extends 'layout.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Crear Nuevo Post</h1>
    <form action="/agregar_post" method="POST" class="mt-3">

        <div class="mb-3">
            <label for="titulo" class="form-label">Título:</label>
            <input type="text" id="titulo" name="titulo" class="form-control">
        </div>

        <div class="mb-3">
            <label for="contenido" class="form-label">Contenido:</label>
            <textarea id="contenido" name="posteo" rows="4" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="autor" class="form-label">Autor:</label>
            <select id="autor" name="usuario" class="form-select">
                {% for usuario in usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label">Categoría:</label>
            <select id="categoria" name="categoria" class="form-select">
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombreCategoria }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Crear Post</button>
    </form>
</div>
{% endblock %}
