{% extends 'layout.html' %}

{% block body %} 

<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{post.titulo}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{post.posteo}}.</p>
        <p class="card-text">{{post.categoria.nombreCategoria}}</p>
        <p class="card-text">{{post.usuario.nombre}}</p>
      </div>
    </div>
    <a href="/form_comentario/{{ post.id }}" class="btn btn-primary"> Agregar comentarios> </a>
  </div>
  {% endblock %}